body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ff9642;
}

body,
.form-input,
.form-element, .read, .orange-btn, .form-i {
    font-family: 'Raleway', sans-serif;
}

/*navbar*/
.nav-super {
    position: fixed;
    width: 100vw;
    background-color: #fff;
}

.card-header, .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    padding: 0 3rem;
}
.nav-search{
    align-items: flex-start;
    padding-top: 0.5rem;
}

.logo {
    font-family: 'Homemade Apple', cursive;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.list-item {
    display: inline;
    padding: 0 0.5rem;
}

.list-item a , .orange-btn{
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
    background-color: #ff9642;
    border-radius: 5px;
}

/*home section*/
.yellow,
.footer {
    background-color: #ffe05d;
}

.container {
    width: 80vw;
    padding: 10vh 10vw;
}
.container-search{
    width: 60vw;
    padding: 1rem 20vw 5vh 20vw;
}


.form-search,
.home, .likes, .form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home {
    width: 70vw;
    padding: 10vh 15vw;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
}

h4 {
    margin: 1rem 0 0.5rem 0 ;
    font-size: 1.3rem;
}
h5{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.read{
    padding: 0.5rem 1rem;
    float: right;
    background-color: #ff9642;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}


.hide {
    display: none;
}

.form-search {
    padding-top: 0;
}

.search {
    width: 700px;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    padding: 0.5rem ;
    padding-bottom: 5vh;
    /*border: 1px ridge #000;*/
}
.search-display{
    padding: 0.5rem;
}

.form-input {
    padding: 1rem 1rem;
    max-width: 100%;
    width: 400px;
    border-radius: 5px 0 0 5px;
}

.form-input,
select,
.search-submit {
    margin: 0;
    font-size: 1rem;
}
.form-input:active,
select:active,
input[type=submit]:active, .form-input:focus,
select:focus,
input[type=submit]:focus, .form-input,
select,
input[type=submit]  {
    border: none;
} 

.search-submit {
    width: 150px;
    background-color: #ff9642;
    border-radius: 0 5px 5px 0;
}

select {
    padding: 1rem;;
    width: 150px;
    border-left: 1px solid grey;

}

/*recommendations section*/

.card-container {
    display: flex;
    overflow-x: scroll;
    padding:  1rem 0;
    
}
.card-container::-webkit-scrollbar{
    display: none;
}
.card {
    max-width: 90vw;
    border-radius: 10px;
    padding: 0.5rem 1.5rem 1.5rem 1rem;
    background-color: #fff8cd;
    margin-right: 1.5rem;
}
.like{
    height: 1rem;
    width: 1rem;
}

.recipe-img{
    height: 150px;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    
}
/*login*/
.form{
    flex-direction: column;
    
}
.login-h1{
    margin-bottom: 2rem;
}
.google-login, .form-i{
    width: 300px;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.form-i{
    display: block;
    font-size: 1rem;
}
#login{
    text-align: center;
}
.orange-btn{
    font-size: 1rem;
}
.google{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
.google-login {
    display: flex;
   align-items: center;
text-decoration: none;
color: #000;
-webkit-box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.69); 
box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.69);

}

.google-login>h4{
    font-size: 1rem;
    margin: 0
}
/*Search*/
.f-i-b{
    border: 1px  solid grey;
    border-right: none;
}
.select-search{
    border: 1px solid grey;
}
.c-search{
    padding-top: 15vh;
    padding-bottom: 5vh;
}
.chips-container{
    display: flex;
    flex-wrap: wrap;
}
.chip{
    background-color: #efefef;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 0.5rem;
    align-items: center;
}
.chip>i{
    color: grey;
    margin-left: 0.2rem;
}
.chip>i:hover{
    cursor: pointer;
    color: black;
}


.search-img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
}


.search-c{
    display: flex;
    justify-content: space-between;
    background-color: #fff8cd;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.sc-f>span>h4{
    margin-top: 0;
}
.sc-f{
    display: flex;
    justify-content: center;
}

.sc-l{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/*Profile page*/
.overlay{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    height: 150px;
    width: 150px;
    align-items: center;
}
.profile{
    text-align: center;
    padding-top: 15vh;
}
.user{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.edit{
    z-index: 2;
}
.overlay .edit{
    display: none;
}
.overlay:hover .user{
    opacity: 50%;
}
.overlay:hover .edit{
    display: block;
}
.edit:hover{
    cursor: pointer;
}
.p-name{
    margin-bottom: 0.75rem;
}
.p-email{
    margin: 0;
}
.c-s{
    padding-top: 0;
}
.save{
    margin-right: 1rem;
}
/*recipe expanded view*/
.expand-recipe-img{
    width: 100vw;
    height: 400px;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
.saving{
    margin-top: 1rem;
}
.recipe-h1{
    margin-top: 150px;
    padding-bottom: 1rem;
}
.recipe-time{
    margin-top: 0.5rem;
}
.recipe-time, .recipe-like{
    font-weight: 600;
}
.ingredients{
    padding-top: 2rem;
}
table{
    width: 600px;
    max-width: 80vw;
    text-align: left;
}
td, th{
    padding: 0.5rem 0;
}
@media (max-width: 992px){
    .card{
        min-width: 250px;
    }
}
@media (max-width: 768px) {
    .search {
        width: 100%;
    }

    select,
    .search-submit {
        width: 20%;
    }

    .form-input {
        width: 60%;
    }
    .search-img{
        width: 70px;
        height: 50px;
    }
    .search-c{
        width: 100%;
    }
    .container-search{
        width: 80vw;
        padding: 1rem 10vw 5vh 10vw;
    }
    
}